<!DOCTYPE html>
<html>
<head>
  <title>YoutubeEstore</title>
  <%= stylesheet_link_tag    "youtube_estore/application", :media => "all" %>
  <%= javascript_include_tag "youtube_estore/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
